<div ng-controller="StronglyTypedSelectorController" class="strongly-typed-selector">
	<div class="value">
        <label for="textValue">text</label>
        <input type="text" name="textValue" ng-model="model.value.text" />
    </div>
</div>
