﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        @Umbraco.Field("description")
    </div>    
</div>
