﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Location>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using GVExtension.Models;

@{
	Layout = null;
}

<div>
    <h1>Location template</h1>
</div>

@{ 
    GVTestObject obj = Model.Content.GetPropertyValue<GVTestObject>("stronglyTypedSelector");
}

@Html.DisplayFor(m => obj)


