﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Umbraco.Web


@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".
*@

@{
    var selection = Model.Content.Site().Children.Where(x => x.IsVisible()).ToArray();
    var home = Model.Content.Site() as Home;
}


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="~/">@home.SiteName</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
   
            @if (selection.Length > 0)
            {
                <ul class="nav navbar-nav">
                    @foreach (var item in selection)
                    {
                        <li class="@(item.IsAncestorOrSelf(Model.Content) ? "current" : null)">
                            <a routerLink="@item.Url" routerLinkActive="active">@item.Name</a>
                        </li>
                    }
                </ul>
            }

        </div>
    </div>
</nav>
