.strongly-typed-selector .value {
  margin: 0 0 5px 0;
}
.strongly-typed-selector .value label {
  display: inline-block;
  width: 55px;
}
.strongly-typed-selector .value input {
  display: inline-block;
}
