<div class="jumbotron">
    <header>
        <div class="container">
          <app-nav>navigation...</app-nav>            
        </div>
    </header>
    <main>
        <div class="container" [@routeAnimation]="getState(o)">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <router-outlet #o="outlet"></router-outlet>
                </div>    
            </div>

        </div>
        
    </main>
    <footer></footer>

</div>



