<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{umbResponse?.title}}!
  </h1>
</div>
<div innerHTML="{{ umbResponse?.description }}"></div>
